
  <section class="banner_1 clearfix">
    <div class="banner_image_1"></div>
    <div class="banner_copy_1">
      <div class="banner_copy_text_1">
        <h3>SCEGLI IL TUO STILE</h3>
        <button class="button_banner_1" [routerLink]="'/shop'">VAI ALLO SHOP</button>
      </div>

    </div>
  </section>

  <section class="banner_2 clearfix">
    <div class="banner_image_2"></div>
    <div class="banner_copy_2">
      <div class="banner_copy_text_2">
        <h3>GIOIELLI, ANELLI E OROLOGI</h3><h2> LA QUALITÀ DEL NOSTRO SHOP ONLINE</h2>
      </div>
    </div>
  </section>

