<section class="cover">
  <div class="cover_caption_filter"></div>
  <div class="cover_caption">
    <div class="cover_caption_copy">
      <h1>CARRELLO</h1>
    </div>
  </div>
</section>

<div class="window">
  <h3>GIOIELLERIA BUONAIUTO</h3>
  <h1 style="letter-spacing: 1px;">RIEPILOGO CARRELLO</h1>

<h3 style="border-top: 1px solid grey;" >NESSUN PRODOTTO PRESENTE NEL CARRELLO</h3>
  <div class="backShopNoItems">
    <button type="submit" [routerLink]="'/shop'"><h3>VAI ALLO SHOP</h3></button>
  </div>
