.tableUser{ width: 100%;}
.tableUser th,td{border-top: 1px solid grey; padding: 10px;}
.tableUser tr:hover {background-color: #dfdbdb;}

.button{margin: 31px;
  padding: 1%;
  line-height: 20px;
  border: 1px solid black;
  letter-spacing: 2px;
  width: 18%;
  font-size: 17px;}
.button:hover{background: #969696;}

.input_num::-webkit-outer-spin-button,
.input_num::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
