.tableProduct{ width: 100%;}
.tableProduct th,td{border-top: 1px solid grey; padding: 10px;}
.tableProduct tr:hover {background-color: #dfdbdb;}
.icon-product-details{width: 30px;border-radius: 8px;}
.product-img{width: 70px;border-radius: 8px;}
